@charset "UTF-8";

h1 {
	margin-top: 10px;
	font-family: 'Corinthia', cursive;
	font-size: 80px;
	color: gold;
	text-shadow: 3px 1px black;
}

span {
	font-family: 'Corinthia', cursive;
	font-size: 60px;
}

.top-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top:20px;
}

h2 {
	text-align: center;
	font-family: 'Farsan', cursive;
	font-size: 48px;
	color:#FFF1C6;
}

h3 {
	text-align: center;
	margin-bottom: 20px;
	color: gold;
	font-family: 'Farsan', cursive;
	font-size: 44px;
	font-weight: bold;
	text-shadow: 3px 1px black;
}

.page-container {
	margin: 0px auto;
	margin-top: 20px;
	width: 80%;
	display: flex;
	justify-content: space-around;
}

.gift-form {
	width: 30%;
}

.gift-form input, select {
	width: 40%;
	margin-bottom: 10px;
}

label {
	width: 45%;
}

select {
	text-align: center;
}


.posted-gifts {
	width: 60%;
}

#details {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

::placeholder {
	color: #C63636;
}

.user-actions {
	display: flex;
}

.errors {
	color: red;
	font-family:'Courier New', Courier, monospace;
	font-size: 18px;
}

.alert-container {
	flex-direction: column;
}

.alert {
	flex-direction: column;
	display: flex;
	align-items: center;
}

hr {
	width: 100%;
}
body, html {
  height: 100%;
}
.home_background{
	background-image:url(../image/winterimage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   	height: 100%;
 	background-position: center;
}
.tranparent{
	color: #C63636;
	font-size:large;
	border-color: black;
}
.form_label{
	color: whitesmoke;
	font-size:large
}
.giftTable{
	color: #C63636;
	border-color: black;
	background-color: #A10E14;
	color: whitesmoke;
	
}

th {
	text-align: center;
}

#gift-info {
	text-align: center;
	color: whitesmoke;
}

.user-actions {
	display: flex;
	justify-content: center;
}

#one-action {
	margin-left: 20px;
}

.button {
	position: relative;
	border: 1px solid transparent;
	border-radius: 6px;
	padding: 8px 16px;
	min-width: 8em;
	text-align: center;
	color: #fff;
	background-image:
		linear-gradient(to bottom, #f12828, #a00332, #9f0f31),
		linear-gradient(to bottom, #ae0034, #6f094c);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	box-shadow:
		inset 0 1px rgb(255 255 255 / .25),
		inset 0 -1px rgb(0 0 0 / .1),
		0 2px 4px rgb(0 0 0 / .25);
	transition: .2s;
	will-change: transform;
}
.button-hat {
	position: absolute;
	top: -15px;
	left: -17px;
	height: 44px;
	filter: drop-shadow(0 2px 1px rgb(0 0 0 / .25));
}

#btn-box {
	display: flex;
	justify-content: center;
}

.button-gift {
	position: relative;
	border: 1px solid transparent;
	border-radius: 6px;
	padding: 8px 16px;
	min-width: 8em;
	text-align: center;
	color: #fff;
	background-color: #5D8053;
}